<div class="container">
  <div class="row">
    <div class="col-md-12 text-center email-div">
      <div class="inquiries text-center">
        <h2>Inquiries:</h2>
        {{input type="text" class="text-center email" placeholder="your email address" value=yourEmail}}
        <br>
        <br>
      </div>
      <br>
    {{textarea type="textarea" class="text-center email-message" placeholder="Have a question or want to check availability? Send me a message!" value=newEmail}}
    <br>
    <button class="btn btn-primary btn-sm new-band-button" disabled={{isAddButtonDisabled}} {{action "sendEmail"}}>Send</button>
    </div>
  </div>
</div>
{{outlet}}
