<div class="container sub-intro">
  <div class="col-md-2">
    <h3>Rent a Room:</h3>
  <div class="space">
    {{link-to "Me" "rent.me" class="btn btn-sm btn-primary"}}
  </div>
  <div class="space">
    {{link-to "You" "rent.you" class="btn btn-sm btn-primary"}}
  </div>
  <div class="space">
    {{link-to "The Economics" "rent.cost" class="btn btn-sm btn-primary"}}
  </div>
  <div class="space">
    {{link-to "The House" "rent.house" class="btn btn-sm btn-primary"}}
  </div>
  </div>
  <div class="col-md-10 mid-bar">
    <br>
    {{outlet}}
    <br>
  </div>
</div>
<br>
<br>
<h2 class="col-md-12 center-text v-align">{{#zero-clipboard text="devhouseatx@gmail.com" innerClass="btn btn-default"}}devhouseatx@gmail.com{{/zero-clipboard}}</h2>
